.inputs{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 3%;
}
.input1,.input2{
  width:25rem;
  border: 1px solid green;
}
.nav{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

